*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Tahoma", sans-serif;
}

body{
    background: linear-gradient(to bottom,#e8f5e9,#ffffff);
    color:#333;
}


/* الشريط العلوي */

header{
    background:#087f23;
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav h2{
    color:white;
}


nav ul{
    list-style:none;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}


nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
}


nav ul li a:hover{
    color:#c8e6c9;
}



/* الصناديق */

.container{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}


.box{
    background:white;
    width:400px;
    max-width:95%;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px #aaa;
    text-align:center;
}



.box h1{
    color:#087f23;
    margin-bottom:20px;
}



/* الإدخالات */

input,textarea{

    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;

}


textarea{
    height:120px;
}



/* الأزرار */

button{

    width:100%;
    padding:12px;
    border:none;
    background:#087f23;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;

}


button:hover{

    background:#056619;

}



a{
    color:#087f23;
}


/* صفحة الطقس */


.weather{

    text-align:center;
    padding:30px;

}


.search{

    margin:20px auto;
    max-width:500px;

}


.search input{

    width:70%;

}


.weather-card{

    background:white;
    max-width:350px;
    margin:20px auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px #bbb;

}


.weather-card .icon{

    font-size:70px;

}



.tips{

    background:#e8f5e9;
    padding:20px;
    border-radius:15px;
    margin:20px auto;
    max-width:600px;

}


/* تجاوب الشاشات */


@media(max-width:700px){

nav{

    flex-direction:column;
    gap:15px;

}


nav ul{

    justify-content:center;

}


.weather-card{

    width:90%;

}


.box{

    width:95%;

}


}